<div class="properties ui-widget-content">

    <div class="properties-tab">
    
        <div class="nav-buttons">
            <button mat-button class="btn" (click)="toggleTab('props')">Properties</button>
            <button mat-button class="btn"  (click)="toggleTab('something')">Something else</button>
        </div>

        <div  *ngIf="openedTab=='props'">

            <div class="property"  *ngFor="let property of properties">
                <p>{{property.name}}:</p>
                <button mat-button class="dropdown-button">
                    <div class="both">
                            <span class="inner-text">
                                    {{property.option}}
                            </span>
                            <span class="icon-wrapper">
                                <fa-icon [icon]="icon" classes="dropdown-icon"></fa-icon>
                            </span>
                    </div>
                        
                </button>
            </div>
        </div>

        <div class="property" *ngIf="openedTab=='something'"> <!--  Change line 6 too then -->

                <!-- Something else's content -->
            </div>
            </div>

</div>