@import '../../styles.scss';

.properties {
    height: 100%;

    .properties-tab {
        height: 100%;
        width: 100%;
        max-width: 350px;
        background-color: $primary;
        // overflow: scroll;
        // resize: horizontal;
    }

    .nav-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn {
            width: 50%;
            border-radius: 0;
            line-height: 18px;
        }
    }

    .properties-list {
      margin-top: 20px;
      padding-left:15px;
      padding-right:15px;
    }

    .property {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;

        .dropdown-button {
            color: white;
            background-color: #373737;
            width: 30%;
            margin-right: 1rem;
            position: relative;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-evenly;
            line-height: 15px;

        }
        p {
            font-weight: normal;
            color: white;
            // padding: 0 0.2rem;
            font-size: 0.8rem;
            line-height: normal;

        }
    }
}

.icon-wrapper {
    color: white;
    font-size: 20px;
    // line-height: 1.9rem;
    // size: 15px;
    line-height: 5px;
    vertical-align: top;
    padding-bottom: 1rem;
    // position: absolute;


}

.both {
    position: absolute;
    top: 0;bottom: 0; vertical-align: middle;
    transform: translate(0, 25%);
}
.dropdown-icon {
    color: white;

    // position: absolute;
}

.inner-text {
    // position: absolute;
    // left: 0;
    // padding-right: 1rem;
}

