<div class="properties ui-widget-content">

    <div class="properties-tab">
      <mat-tab-group animationDuration="500ms" [color]="'accent'" id="tab-group" [dynamicHeight]='true'>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">view_headline</mat-icon>
            Properties
          </ng-template>

          <div class="properties-list">
            <div class="property"  *ngFor="let property of properties">
              <p>{{property.name}}:</p>
              <button mat-button class="dropdown-button">
                <div class="both">
                  <span class="inner-text">
                    {{property.option}}
                  </span>
                  <span class="icon-wrapper">
                    <fa-icon [icon]="icon" classes="dropdown-icon"></fa-icon>
                  </span>
                </div>
              </button>
            </div>
          </div>

        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">update</mat-icon>
            Something
          </ng-template>

          <div class="properties-list">
            <!-- Something else's content -->
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
</div>
