@import '../../styles.scss';


.login {
  padding: 0.5rem;
  margin: 2rem;
  background-color: #313131;
  color: white;
}

.primary-color {
  background-color: $primary;
}

.login-button {
    background-color: #777777;
    border-color: $border-primary;
}

.spacer {
    flex: 1;
  }

.logged-in-as {
  margin-right: 25px;
  display: flex;
  align-items: center;

  span {
    cursor: pointer;
    padding-left: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}
