.sidebar {
    width: 100%;
    background-color: #313131;
    height: 100%;

    .template-list, .block-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      .card {
        margin-top: 15px;
        cursor: pointer;
      }
    }


}
