.sidebar {
    width: 100%;
    background-color: #313131;
    height: 100%;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.26);

    .template-list, .block-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      .card {
        margin-top: 15px;
        // padding: 5px 0;
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;
      }
    }

  .cdk-drag-placeholder {
    opacity: 0;
  }
}
